.body{
    background-color: #FCFCFC;
}

.loginBox{
    width:  700px;
    height: 760px;
    padding: 5%;
    border: none;
    box-shadow: black 0px 0px 1px 0px;
    padding: 30px;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}
.inputStyle{
    margin:30px;
}
.inputStyle input {
    text-align:center;
    width:300px;
    height: 40px;
    border: 0px;
    box-shadow: black 0px 0px 1px 0px;
}

.loginButton {
    width:300px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #347125;
    color: white;
}

.signUpMent{
    font-size: 18px;
    margin-top: 20px;
}
.loginLabel{
    font-size: 25px;
    font-weight: bold;
}