.allWrapper{
    height:auto;
}
.profileLogo{
    left:0%;
}
.heightGroup{
    width:100%;
    text-align: center;
    display:inline-block;
}
.name {
    float: left;
}

.setProfileImg{
    float: left;
    width: 13%;
    height:13%;
    border-radius: 45%;  
    font-size: 20px;
    top:50%;
}
.setProfileImgContent{
    width: 100%;
    height:100%;
    border-radius: 50%;  
}
.setProfile{
    width:50%;
    position: relative;
    float: left;
    text-align: justify;
    font-size: 15px;
    margin-left: 5%;
}
.farm{
    font-size: 15px;
}
.changeProfileImgButton{
    border-radius: 50%;  
    border: none;
    display:block;
    position: relative;
    top: -50px;
    left:   8%;
}
.nicknameInput{
    border: none;
    outline: none;
    margin: 0px 5px 5px 0px;
}
.nicknameChangeButton{
    border: none;
    outline: none;
    background-color:dimgray;
    color: floralwhite;
    box-shadow: gray;
}
/* .coolSexyGuy{
    display: flex;
    flex-direction: row;
} */
#map{
    width: 100%;
    height: 450px;
}
.infomation{
    text-align:justify;
    margin: auto auto auto 10px;
    font-size: 15px;
    padding: 50px;
}
.infomation div{
    padding: 3px;
}
.farmName{
    font-size:20px;
}
.body{
    background-color:#333;
}

.site-card-wrapper{
    width: 100%;
    text-align: left;
}

.site-card-wrapper p{
    font-size: large;
    font-weight: 400px;
}
.logoutBtn{
    color:red;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}