.signupLabel{
    font-size: 25px;
    font-weight: bold;
    margin:10px 10px 10px 10px;
}
.signUpBox{
    width:  700px;
    height: 800px;
    padding: 5%;
    border: none;
    box-shadow: black 0px 0px 1px 0px;
    padding: 30px;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}

.signUpBox input {
    text-align:center;
    width:75%;
    height: 35px;
    border: 0px;
    box-shadow: black 0px 0px 1px 0px;
    border-radius: 35px;
    margin: 20px 20px 20px 20px;
}

.signUpButton{
    width:75%;
    height: 35px;
    border:0px;
    background-color: #347125;
    border-radius: 35px;
    color: white;
    margin: 20px 20px 20px 20px;
}