.wrapper{
    padding: 5%;
    width: 100%;
    height: 1200px;
}
.formWrapper{
    text-align: center;
}
.formBox{
    width:  700px;
    height: 720px;
    padding: 5%;
    border: none;
    box-shadow: black 0px 0px 1px 0px;
    padding: 30px;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}
.inputStyle{
    margin:30px;
}
.inputStyle input {
    text-align:center;
    width:270px;
    height: 35px;
    border: 0px;
    box-shadow: black 0px 0px 1px 0px;
    border-radius: 35px;
}
.imgStyle{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 10%;
}
.textRoom{
    width: 150px;
    height: 100px;
    font-size: 15px;
    display: inline-block;
}
.loginButton{
    width:120px;
    height: 40px;
    font-size: 15px;
    border:0px;
    background-color: #347125;
    border-radius: 35px;
    color: white;
    margin: 3px 3px 3px 3px;
}
.plantName{
    font-size: 20px;
    font-weight: bold;
    margin: 3px 3px 3px 3px;
}